:root {
  font-family: 'Poppins', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-synthesis: none;
  /* font-family: 'Poppins', sans-serif; */
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/*
 Custom scroll bar
*/
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  transition: ease 300ms;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  width: 7px;
  height: 150px;
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #a7a7a7;
  height: 150px;
}

.app-content-wrapper {
  width: 100%;
  min-height: auto;
  position: relative;
}

/* Styling Section Article  */
.app-article-section {
  width: 100%;
  height: auto;
}

.events-article {
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-color: #fff;
  padding-top: 4em;
  padding-bottom: 5em;
}

.events-article .container {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}

.search-empty {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 50px;
}

.search-empty__content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0 auto;
  text-align: center;
}

.search-empty__content-logo {
  width: 342px;
  height: 342px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.search-empty__content-heading {
  color: var(--Font-800, #454545);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 30px */
  text-transform: capitalize;
}

[data-theme='dark'] body {
  background-color: #262626;
  color: #fff;
}
